{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elena Rangel</title>
    <style>
        a{color:white;
        background-color: red;
        padding: 5px 15px 5px 15px;
        text-decoration: none;
        border-radius: 5px;
        display: block;
        width: 120px
        }
        body
        {
            background-image:url({% static 'images/Fondo.jpg' %});
        }
    </style>

</head>

<body>
    <div id="agrupar">
        <header id="cabecera">
            <h1>
                    <strong><center><FONT COLOR="white">MI PRIMERA PAGINA EN DJANGO</FONT></center></strong><br>
                <strong><center><FONT COLOR="white">Luz Elena Rangel Olvera</FONT></center></strong>
            </h1>
            <div id="cabecera2">
                <h2>
                    <em><center><FONT COLOR="white">Django Apps on Heroku</FONT></center></em>
                </h2>
            </div>

        </header>


    </div>

    <footer>
        <p><center><FONT COLOR="white">Grupo: GRIC2091-E</FONT></center></p>
        <p><strong><center><FONT COLOR="white">Dolores Hidalgo, A 12 de Agosto de 2022</FONT></center></strong></p>
    </footer>

</body>

</html>