<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elena Rangel</title>
    <style>
        a{color:white;
        background-color: red;
        padding: 5px 15px 5px 15px;
        text-decoration: none;
        border-radius: 5px;
        display: block;
        width: 120px
        }
        body
        {
            background-image:url({% static 'images/Fondo.jpg' %});
        }
    </style>

</head>

<body>
    <div id="agrupar">
        <header id="cabecera">
            <h1>
                <strong>MI PRIMERA PAGINA EN DJANGO :</strong><br>
                <strong>Luz Elena Rangel Olvera</strong>
            </h1>
            <div id="cabecera2">
                <h2>
                    <em>Django Apps on Heroku</em>
                </h2>
            </div>

        </header>


    </div>

    <footer>
        <p>Grupo: GRIC2091-E</p>
        <p><strong>Dolores Hidalgo, A 12 de Agosto de 2022</strong></p>
    </footer>

</body>

</html>